<div class="histogramTypeWidget">
    <div dojoType="dijit.form.Form" data-dojo-attach-point='form'>
        <div>
            <label>${I18N.BIN_NUM}</label>
            <div baseClass="alpineDarkTextbox" dojoType="dijit.form.ValidationTextBox" data-dojo-attach-point='binNumberTextBox'></div>
        </div>
        <div style="padding: 5px 0 5px 10px; font-family: opensans;" >${I18N.OR}</div>
        <div>
            <label>${I18N.BIN_WIDTH}</label>
            <div baseClass="alpineDarkTextbox" dojoType="dijit.form.ValidationTextBox" data-dojo-attach-point='binWidthTextBox'></div>
        </div>
    </div>
</div>