.crumbContainer{
	background:transparent;
	display:block;
	float:left;
	height:18px;
	overflow:hidden;
    padding-top: 1px;
	padding-left:8px;
	width: 95%
}
.module:after{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden
}
.crumbContainer ul{
	list-style-type:disc;
	margin:0px;
	padding:0px;
}
.crumbContainer ul li{
	margin:0px;
	padding:0px;
	background:url('../images/interface/arrow_right.png') no-repeat scroll 100% 0.4em transparent;
    display:block;
	float:left;
	font-size:0.9167em;
	height:21px;
	line-height:21px;
	margin:0 4px 0 0;
	overflow:hidden;
	padding: 0 10px 0 0;
	position:relative;
}

.crumbContainer ul li a{
	display:block;
	float:left;
	line-height:21px;
	overflow:hidden;
	position:relative;
	color:#00A1E5;
	font-size:inherit;
	font-weight:inherit;
	text-decoration:none;
}

.crumbContainer ul li a:hover{
	text-decoration:underline;
}

.crumbContainer .display{
	width: 5px; display: block; overflow: hidden;
}